body {
    background-image:url('/static/img/background1.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-family: "Raleway" !important; 
 }

h1 {
	color: white;
	font-size: 6em;
	 font-family: "Raleway" !important; font-weight: 100 !important;
	 line-height: 0.8 !important;
}

h2 {
	 font-family: "Raleway" !important; font-weight: 100 !important;
	 line-height: 0.8 !important;
	 font-size: 1.3em;

}

p {
	text-align: justify;
}



.bigbox {
	text-align: center;
	width: 650px;
	height: 610px;
	border-radius: 20px;
	background-color: rgba(0,0,0, 0.6);
	color: white;
	display: inline-block;
	
	margin-top: 20px;
	line-height: 0.8 !important;
}

.description {
	width:600px;
	height: 60px;
	text-align: justify;
	text-align: center;
	line-height: 1.5 !important;

}
.littlebox {

	text-align: center;
}

.iphone {

	float:left;
	margin: 20px;
	margin-top:100px;
}

.appstore {
	float:left;
	margin:10px;
	margin-top: 15px;
}

.googleplay {
	margin: 10px;
	float:right;
	margin-top: 15px;
	
}

.social {
	margin-top: 10px;
	margin-left: auto;
	margin-right:auto;
}


.fb {
	
	margin:10px;
	display: inline;
}

.plus {
	margin:10px;
	display: inline;
}

.tumblr {

	margin:10px;
	display: inline;
}

.vimeo {
	margin:10px;
	display: inline;
}

.twitter {
	margin:10px;
	display: inline;
}