body {
    background-image:url('/static/img/blur2.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    font-family:"Raleway"; font-weight: 100;
 }

h1 {
	color: white;
}

p {
	text-align: justify;
}

.bigbox {
	text-align: center;
	width: 500px;
	height: 400px;
	border-radius: 20px;
	background-color: rgba(0,0,0, 0.6);
	color: white;
	display: inline-block;
	padding: 10px;
	margin-top: 70px;

}

.littlebox {

	text-align: center;
}


.iphone {

	float:left;
	margin: 20px;
	visibility: hidden;
	margin-top:50px;
}

.appstore {
	float:left;

}

.googleplay {
	float:right;
	
}

.social {
	margin-left: auto;
	margin-right:auto;
}


.fb {
	
	margin:10px;
	display: inline;
}

.plus {
	margin:10px;
	display: inline;
}

.tumblr {

	margin:10px;
	display: inline;
}