<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <!-- making sure the app always find the static folder with bootstrap -->
        <link href="{{ url_for('.static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
        <link href = "{{ url_for('.static', filename='css/custom.css') }}" rel="stylesheet">
        <link href="{{ url_for('.static', filename='awesome/css/font-awesome.min.css') }}" rel="stylesheet"/>

        <link href= "http://fonts.googleapis.com/css?family=Raleway" rel='stylesheet' type='text/css'/>
        <title>Style Hammer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="startup landing">
    <meta name="author" content="Startupweekend">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>

<body>

<div class="row">

<div class="col-md-4">
    <div class="iphone">
        <img src='/static/img/iphone.png' height="600px", width="288px" />
    </div>
</div>


  <div class="col-md-8" >
    <div class="bigbox">
        <h1> Checkster </h1>
        <div class="littlebox">
            <p>Brak zabrak wedge skywalker ysanne darth voxyn. Zabrak bith cade vuffi secura. Aka jettster zhell himoran tib. Jin'ha massans hoojib melodie givin lannik tiin maximilian quarren. Thistleborn zabrak mirta kal kobok maris evocii. Skakoan barriss droch nadd. Luke leia maximilian su deliah durge. Ogemite amanin kenobi d8. Leia stele monkey-lizard qui-gon valorum thrella barriss oppo. Grodin ventress roos lorth taun bib. Ansionian duros moff vima-da-boda vel trianii endocott gorax kessel. Rattataki hutt terrik ev-9d9 airen derek kessel.</p>
                <div class="appstore"><img src='/static/img/appstore.png'>
                </div>
                <div class="googleplay"><img src='/static/img/googleplay.png'>
                </div>
                <div class="social"> 
                    <i class="fa fa-facebook-square"></i>
        </div>
        <p><a class="btn btn-primary btn-lg">Subscribe</a></p>
       
    </div>
  </div>
</div>

    <script src="{{ url_for('.static', filename='js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='bootstrap/js/bootstrap.js') }}"></script>
</body>

</html>
